root = true

[*]
indent_style = space
indent_size = 2
max_line_length = 120
dotnet_style_require_accessibility_modifiers = for_non_interface_members

[*.cs]
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
